[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=RubyMine
Icon=/usr/lib/RubyMine/bin/rubymine.png
Path=/usr/lib/RubyMine
Exec="/usr/lib/RubyMine/bin/rubymine.sh" %f
Categories=Development;IDE;
OnlyShowIn=Unity;GNOME;
StartupNotify=false
Terminal=false
StartupWMClass=RubyMine
