[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=PyCharm
Icon=/usr/lib/PyCharm-edu/bin/pycharm.png
Path=/usr/lib/PyCharm-edu
Exec="/usr/lib/PyCharm-edu/bin/pycharm.sh" %f
Categories=Development;IDE;
OnlyShowIn=Unity;GNOME;
StartupNotify=false
Terminal=false
StartupWMClass=PyCharm
